<div class="column is-12-mobile is-half-tablet is-one-third-desktop">
  <a href="{{ post.url | relative_url }}">
    <figure class="image is-3by2">
      <img
        class="article-thumb image is-4by"
        src="/assets/thumbnails/{{ include.post.thumbnail }}"
      />
    </figure>

    {% for tag in include.post.tags %}
    <tag class="tag">{{ tag }}</tag>
    {% endfor %}
    <h1 class="title is-size-5 is-size-4-widescreen">
      {{ include.post.title | escape }}
    </h1>
    <div class="subtitle">
      I present an elegant way to execute a CRSF exploit.
    </div>
  </a>
</div>
