---
layout: default
---

{%- include header.html -%}


  <section class="section">
    <div class="container is-very-narrow">
      <article
        class="post h-entry"
        itemscope
        itemtype="http://schema.org/BlogPosting"
      >
        <header class="post-header">
          <div class="columns is-multiline is-mobile is-vcentered">
            <div
              class="column is-12-mobile is-half-tablet is-one-third-desktop"
            >
              <div class="centered">
                <img
                  class="img-before-article"
                  src="/assets/thumbnails/{{ page.thumbnail }}"
                />
              </div>
            </div>

            <div
              class="column"
            >
              <h1 class="post-title p-name" itemprop="name headline">
                {{ page.title | escape }}
              </h1>
              <h3> {{ page.short_description | escape }}</h3>
              <p class="post-meta">
                
                {%- if page.time_to_read -%} •
                <span
                  itemprop="author"
                  itemscope
                  itemtype="http://schema.org/Person"
                  ><span class="p-author h-card" itemprop="name">{{
                    page.time_to_read
                  }} read</span></span
                >
                {%- endif -%}
                </p>
            </div>
          </div>
          {%- if page.link -%}
          <div class="centered button_under_header">
                <a class="btn_grey" href="{{
                    page.link
                  }}">Visit Website</a>
            </div>
            {%- endif -%}
        </header>
    </br />
        <div class="post-content e-content" itemprop="articleBody">
          {{ content }}
        </div>

        {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%}
        {%- endif -%}

        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

    {% for tag in page.tags %}
    <tag class="tag">{{ tag }}</tag>
    {% endfor %}
  </section>

  {% include disqus_comments.html %}
      </article>
    </div>


</div>
